<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.unit11apps.Echo.EchoPlugin" version="1.0.0">
        <name>Echo</name>
        <description>Cordova Device Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,device</keywords>
        <js-module src="www/echo.js" name="Echo">
            <clobbers target="Echo" />
        </js-module>
        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="EchoPlugin">
       				<param name="Echo" value="com.unit11apps.Echo.EchoPlugin" />
				</feature>
            </config-file>
            <source-file src="EchoPlugin.java" target-dir="src/com/unit11apps/Echo" />
        </platform>
    </plugin>